<!doctype html>



    <header class="homepage-cover">

        <nav>
          

            <ul class="unstyled white navbar-header left">
                <li class="logo"><a href="#" class="uppercase size-xl">Relief Insight</a></li>
                <li class="right uppercase login">Login</li>
                <li class="right uppercase login">Register</li>
            </ul>

        </nav>

        <div class="clear"></div>

      

    </header>

    <div class="container align-center">
        <p>Show requests for:</p>
        <div class="clear"></div>
      
            <span class="size-xl white uppercase"><a href="#" class="block food-color-background">Food</a></span>


         <span class="size-xl white uppercase"><a href="#" class="block water-color-background">Water</a></span>
           <span class="size-xl white uppercase"><a href="#" class="block firstaid-color-background">First Aid</a></span>
          <span class="size-xl white uppercase"><a href="#" class="block clothes-color-background">Clothes</a></span>

   
    </div>




</html>

