/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body {
 	font-family: 'Oswald', sans-serif;
 }

 *, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

 a {
 	color: inherit;
 	text-decoration: none;
 }

.unstyled {
	list-style-type: none;
	display: inline;
	height: 50px;
}
.unstyled > li {
	padding: 0px 5px;
	margin: 0px 20px;
	width: 80px;
	//display: inline;
}

.responsive {
	max-width: 100%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.clear {
	clear: both;
}

.uppercase {
	text-transform: uppercase;
}

/**Colors**/
.white {
	color: white;
}

.food-color {
	color: #045efa;
}

.food-color-background {
	background: #045efa;
}

.water-color {
	color: #f20200;
}

.water-color-background {
	background: #f20200;
}

.firstaid-color {
	color: #f4a800;
}

.firstaid-color-background {
	background: #f4a800;
}

.clothes-color {
	color: #29a639;
}

.clothes-color-background {
	background: #29a639;
}

/**Typography**/
.size-xl {
	font-size: 30px;
}
.size-large {
	font-size: 25px;
}
.size-medium {
	font-size: 16px;
}
.size-normal {
	font-size: 12px;
}
.size-small {
	font-size: 10px;
}
.size-xs {
	font-size: 8px;
}

/**Layout**/
.container {
	margin: 10px 100px;
	position: relative;
}

.block {
	display: inline;
	width: 200px;
	padding: 20px 20px;
	margin: 20px 0px;
}

p {
	padding: 10px;
}

.hide {
	display: none;
}


@media all and (max-width: 747px) {
  body {
    background: #ccc;
  }
  .homepage-cover {
	height: 200px !important;
	}
	.logo {
		top: 0px !important;
		left: 0px !important;
	}
	.block {
	display: block;
	width: 100%;
	padding: 20px 20px;
	//margin: 20px 0px;
}
}